@import "./config.styl"

body
    font-family 'Consolas', monospace
    font-size 16px
    line-height 1.2
    color $color
    background-color $background-color
input, select, button
    font inherit
    color inherit
    line-height 1
    padding 8px 16px
    background none
    border 1px solid $border-color
